    td.bokun_thum_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    img.bokul_image {
        width: 24%;
        margin-bottom: 2px;
        box-sizing: border-box;
        height: 40px !important;
    }
    
    td.bokun_field_value {
        width: 100px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
    
    #bokul_api_form.form-field input,
    #bokul_api_form .form-field input {
        width: 25em;
    }
    
    td.bokun_thum_container {
        width: 200px;
    }
    
    #activities-table_wrapper select {
        width: 42%;
    }
    
    #activities-table_wrapper div#activities-table_length {
        width: 8%;
    }
    
    .bkncpt-button-inprogress {
        color: #fff !important;
        background-color: #2196f3 !important;
        border-color: #2196f3 !important;
    }
    
    .bkncpt-button-success {
        color: #fff !important;
        background-color: #4caf50 !important;
        border-color: #4caf50 !important;
    }
    
    .bkncpt-hide {
        display: none;
    }
    
    .bkncpt-show {
        display: block;
    }
    
    .progress-wrapper {
        position: relative;
        display: inline-block;
        height: 30px;
        /* Adjust the height as needed */
    }
    
    .progress-text {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-size: 14px;
        line-height: 33px;
    }
    
    progress.bkncpt-progress-bar {
        height: 40px;
        width: 400px;
    }
    
    .bkncpt-checkbox {
        padding: 12px 0px 0px 3px !important;
    }
    
    span.bokin-content {
        white-space: break-spaces;
    }
    
    .bkncpt_view_table img.bokul_image {
        width: 29%;
        margin: 5px;
        box-sizing: border-box;
        height: 55px !important;
        box-shadow: 3px 4px #4640406b;
    }
    
    span.badge.badge-primary {
        background-color: #254867;
        color: #fff;
        margin-right: 5px;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    td a {
        white-space: break-spaces;
    }